.section-accessories {
  .section-inner {
    @include flex(center, space-between);
  }
}

.accessories {
  &__link {
    &--big {
      width: 1100px;
    }

    .cars__link-text {
      color: $color-brand;
    }

    .cars__link-icon {
      fill: $color-brand;
    }
  }
}