// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.section-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  background-color: $color-white;

  .section-inner {
    @include flex(center);
  }
}

.header {
  &__contacts {
    @include flex(center, space-between);
    margin-left: auto;
  }
  
  &__logo {
    margin-right: 40px;
  }

  &__phone-call {
    margin-right: 40px;
  }
}
