.hero-swiper {
  width: 100%;
  height: 100%;

  &__wrap {
    height: 100%;
  }
  
  &__slide {
    @include flex(center, flex-start, column);
    
    padding: 140px 160px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &__content {
    position: relative;
    left: -360px;
  }

  &__title {
    margin-bottom: 20px;
    font-size: $fs-5xl;
    color: $color-white;
    font-weight: 700;
  }

  &__description {
    margin-bottom: 35px;
    font-size: $fs-l;
    color: $color-white;
    font-weight: 700;
  }

  &__arrow {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.7);

    svg {
      fill: $color-white;
    }

    &-prev {
      transform: rotate(180deg);
    }
  }

  .swiper-pagination {
    &-bullet {
      background-color: $color-white;
    }
  }
}

.q5 {
  background-image: url("../../assets/img/audiq5.webp");
}

.a4 {
  background-image: url("../../assets/img/audia4.webp");
}